<footer class="site-footer clearfix">
  <hr>
  <section class="sponsors">
    <div>
      <a href="http://www.molnlycke.com/"><img src="/assets/images/sponsors/Molnlycke.jpg" alt="Mölnlycke"></a>
    </div>
    <div>
      <a href="https://www.kth.se/en"><img src="/assets/images/sponsors/KTH.jpg" align="center"></a>
      <a href="http://ki.se/en"><img src="/assets/images/sponsors/KI-horisontal.png"alt="KI"></a>
      <a href="http://www.spiber.se/"><img src="/assets/images/sponsors/Spiber.png"alt="Spiber"></a>
      <a href="https://www.gatc-biotech.com"><img src="/assets/images/sponsors/GATC.jpg"alt="GATC"></a>
      <a href="https://www.qiagen.com/us/"><img src="/assets/images/sponsors/QIAGEN.png"alt="QIAGEN"></a>
      <a href="https://www.neb.com/"><img src="/assets/images/sponsors/NEB.png"alt="NEB"></a>
      <a href="https://atlasantibodies.com/"><img src="/assets/images/sponsors/Atlas.png"alt="Atlas"></a>
      <a href="http://www.merck.se/en"><img src="/assets/images/sponsors/Merck.png"alt="Merck"></a>
      <a href="http://www.snapgene.com/"><img src="/assets/images/sponsors/SnapGene.png"alt="Snapgene"></a>
      <a href="http://www.idtdna.com/site"><img src="/assets/images/sponsors/IDT.png"alt="IDT"></a>
    </div>
  </section>
</footer>
