<a href="#" class="nav-close"><div class="nav-close-cross"></div></a>
<a class="hamburger icon-menu" href="#"></a>
<div class="hamburger-hover"></div>
<div class="logo">
  <a class="blog-logo" href="{{@blog.url}}">
    <img src="/assets/images/iGEM_Stockolm_logo_230_transparent.gif" alt="{{@blog.title}}" />
  </a>
</div>
<div id="navigator-opener"></div>
<div class="navigation">
  <div class="nav-content">
    <div class="nav-items">
      <div class="nav-project" role="presentation">
        <a href="/project/">Project</a>
        <div class="nav-sublevel">
            <a href="/in-short/">In Short</a>
            <a href="/out-path/">Our Path</a>
            <a href="/background/">Background</a>
            <a href="/project/">Our Project</a>
            <a href="/combat-proteins/">Combat Proteins</a>
            <a href="/sortase/">Sortase A</a>
        </div>
      </div>
      <div class="nav-parts nav-current" role="presentation">
        <a href="/parts/">Parts</a>
        <div class="nav-sublevel">
          <a href="#">Basic Parts</a>
          <a href="/collection/">Part Collection (Sortase A) </a>
          <a href="/composites/">Composite Part</a>
        </div>
      </div>
      <div class="nav-wet-lab" role="presentation">
        <a href="/wetlab/">Wet Lab</a>
        <div class="nav-sublevel">
          <a href="/experiments/">Experiments</a>
          <a href="/lab-book/">Lab book</a>
          <a href="/protocols/">Protocols</a>
          <a href="/results/">Results</a>
          <a href="/proof-of-concept/">Proof of concept</a>
          <a href="/demonstrate/">Demonstrate</a>
        </div>
      </div>
      <div class="nav-safety" role="presentation">
        <a href="/safety/">Safety</a>
        <div class="nav-sublevel">
          <a href="/patients-in-mind/">Patients in mind</a>
          <a href="/safety-card/">CARD</a>
        </div>
      </div>
      <div class="nav-practises" role="presentation">
        <a href="/practises/">Practises</a>
        <div class="nav-sublevel">
          <a href="#">The TECH model</a>
          <a href="/teaching/">Teaching</a>
          <a href="/evolving/">Evolving</a>
          <a href="#">Collaboration</a>
          <a href="/health/">Health</a>
          <a href="/integrated/">Integrated</a>
        </div>
      </div>
      <div class="nav-nic" role="presentation">
        <a href="/nic/">NiC</a>
        <div class="nav-sublevel">
          <a href="/nic-workshops/">Workshops</a>
          <a href="/mini-jamboree/">Mini-Jamboree</a>
          <a href="/photo-album/">Photo album</a>
        </div>
      </div>
      <div class="nav-team" role="presentation">
        <a href="/team/">Team</a>
        <div class="nav-sublevel">
          <a href="/notebook/">Notebook</a>
          <a href="/team/">Team Members</a>
          <a href="/collaborations/">Collaborations</a>
        </div>
      </div>
      <div class="nav-supporters" role="presentation">
        <a href="/attributions/">Supporters</a>
        <div class="nav-sublevel">
          <a href="/attributions/">Attributions</a>
          <a href="#">Sponsors</a>
        </div>
      </div>
    </div>
  </div>
</div>
