<a href="#" class="nav-close"><div class="nav-close-cross"></div></a>
<a class="hamburger icon-menu" href="#"></a>
<div class="hamburger-hover"></div>
<div class="logo">
  <a class="blog-logo" href="{{@blog.url}}">
    <img src="/assets/images/iGEM_Stockolm_logo_230_transparent.gif" alt="{{@blog.title}}" />
  </a>
</div>
<div id="navigator-opener"></div>
<div class="navigation">
  <div class="nav-content">
    <div class="nav-items">
      <div class="nav-project" role="presentation">
        <a href="/description/">Project</a>
        <div class="nav-sublevel">
            <a href="/description#inshort">In Short</a>
            <a href="/description#ourpath">Our Path</a>
            <a href="/description#biofilms">Background</a>
            <a href="/description#ourproject">Our Project</a>
            <a href="/description#combatproteins">Combat Proteins</a>
            <a href="/description#sortasea">Sortase A</a>
            <a href="/futuristic-ideas">Future</a>
            <a href="/medal-achievements">Medal achievements</a>
        </div>
      </div>
      <div class="nav-wet-lab" role="presentation">
        <a href="/experiments/">Lab</a>
        <div class="nav-sublevel">
          <a href="/experiments/">Experiments</a>
          <a href="/lab-book/">Lab book</a>
          <a href="/protocols/">Protocols</a>
        </div>
      </div>
      <div class="nav-results" role="presentation">
        <a href="/proof-of-concept/">Results</a>
        <div class="nav-sublevel">
          <a href="/proof-of-concept">Proof of concept</a>
          <a href="/results-nuc">Nuc</a>
          <a href="/results-lys">Lys</a>
          <a href="/results-def">Def</a>
          <a href="/results-esp">Esp</a>
          <a href="/results-sortase-a">Sort A</a>
        </div>
      </div>
      <div class="nav-practises" role="presentation">
        <a href="/practises">Human Practises</a>
        <div class="nav-sublevel">
          <a href="/card">CARD</a>
          <a href="/practises">TECH</a>
          <a href="/integrated_practices">Integrated</a>
          <a href="/engagement">Engagement</a>
        </div>
      </div>
      <div class="nav-team" role="presentation">
        <a href="/team/">Team</a>
        <div class="nav-sublevel">
          <a href="/team/">Members</a>
          <a href="/collaborations/">Collaborations</a>
          <a href="/attributions/">Attributions</a>
          <a href="/sponsors/">Sponsors</a>
          <a href="/diary/">Diary</a>
        </div>
      </div>
      <div class="nav-parts" role="presentation">
        <a href="/parts/">Parts</a>
        <div class="nav-sublevel">
          <a href="/parts/">All parts</a>
          <a href="/basic-parts/">Basic Parts</a>
          <a href="/part-collection/">Part Collection</a>
        </div>
      </div>
      <div class="nav-safety" role="presentation">
        <a href="/safety/">Safety</a>
      </div>
      <div class="nav-nic" role="presentation">
        <a href="/nic/">NiC</a>
      </div>
    </div>
  </div>
</div>
