{{!< default}}
{{! The tag above means - insert everything in this file into the {body} of the default.hbs template }}

{{! The main content area on the homepage }}
<main class="content">
    {{! The tag below includes the post loop - partials/loop.hbs }}
    <div style="width: 100%; height: 100vh; display:flex; margin-top: -50px;align-content: center; justify-content: center;">
      <div style="max-width: 80%; height: 100%; display: flex; align-items: center;">
      <video width="1280" height="720" autoplay controls style="max-width: 100%;" onclick="this.paused ? this.play() : this.pause();">
        <source src="http://2016.igem.org/wiki/images/9/93/T--Stockholm--intro.mp4" type="video/mp4">
      </video>
    </div>
    <div>
</main>
<style>
  footer {
    display: none !important;
  }
</style>
